
@{
    ViewBag.Title = "后台首页";
}

<div class="layui-fluid">
        <div class="layui-row layui-col-space25">
            <div class="layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-body admin-card-list">
                        <p>总销售额<span class="admin-span-color"><i class="layui-icon layui-icon-about"></i></span></p>
                        <p class="admin-big-font">￥ 23,865</p>
                        <div class="admin-list-body">
                            <div class="admin-list-body-fixed">
                                <span>周同比</span><span style="margin-left: 8px;">18%</span><i class="layui-icon layui-icon-triangle-d" style="margin-left: 4px;font-size: 6px; color: #f00; display: inline-block;transform:rotate(180deg);"></i>
                                <span style="margin-left: 16px;">日同比</span><span style="margin-left: 8px;">12%</span><i class="layui-icon layui-icon-triangle-d" style="margin-left: 4px;font-size: 6px; color:#5FB878;"></i>
                            </div>
                        </div>
                        <div class="admin-list-footer">日销售额<span style="margin-left: 8px;">￥ 3,865</span></div>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-body admin-card-list">
                        <p>访问量<span class="admin-span-color"><i class="layui-icon layui-icon-about"></i></span></p>
                        <p class="admin-big-font">8,658</p>
                        <div class="admin-list-body">
                            <div class="admin-list-body-fixed">
                                <span>周同比</span><span style="margin-left: 8px;">18%</span><i class="layui-icon layui-icon-triangle-d" style="margin-left: 4px;font-size: 6px; color: #f00; display: inline-block;transform:rotate(180deg);"></i>
                                <span style="margin-left: 16px;">日同比</span><span style="margin-left: 8px;">12%</span><i class="layui-icon layui-icon-triangle-d" style="margin-left: 4px;font-size: 6px; color:#5FB878;"></i>
                            </div>
                        </div>
                        <div class="admin-list-footer">日访问量<span style="margin-left: 8px;">865</span></div>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-body admin-card-list">
                        <p>支付笔数<span class="admin-span-color"><i class="layui-icon layui-icon-about"></i></span></p>
                        <p class="admin-big-font">9,865</p>
                        <div class="admin-list-body">
                            <div class="admin-list-body-fixed">
                                <span>周同比</span><span style="margin-left: 8px;">18%</span><i class="layui-icon layui-icon-triangle-d" style="margin-left: 4px;font-size: 6px; color: #f00; display: inline-block;transform:rotate(180deg);"></i>
                                <span style="margin-left: 16px;">日同比</span><span style="margin-left: 8px;">12%</span><i class="layui-icon layui-icon-triangle-d" style="margin-left: 4px;font-size: 6px; color:#5FB878;"></i>
                            </div>
                        </div>
                        <div class="admin-list-footer">转化率<span style="margin-left: 8px;">50%</span></div>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-body admin-card-list">
                        <p>运营活动效果<span class="admin-span-color"><i class="layui-icon layui-icon-about"></i></span></p>
                        <p class="admin-big-font">89%</p>
                        <div class="admin-list-body">
                            <div class="admin-list-body-fixed">
                                <div class="layui-progress" style="margin: 8px 0;">
                                    <div class="layui-progress-bar" lay-percent="89%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="admin-list-footer">
                            <span>周同比</span><span style="margin-left: 8px;">18%</span><i class="layui-icon layui-icon-triangle-d" style="margin-left: 4px; font-size: 6px; color: #f00; display: inline-block; transform: rotate(180deg);"></i>
                            <span style="margin-left: 16px;">日同比</span><span style="margin-left: 8px;">12%</span><i class="layui-icon layui-icon-triangle-d" style="margin-left: 4px; font-size: 6px; color: #5FB878;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    layui.use('index');
</script>